img{
	
	
	
	
	
	
}
h1{


text-align: center;


}



.container
{
 margin-top: 50px;
padding-top: 50px;
 border: 2px solid #6495ED;
 box-shadow: 10px 10px grey;
padding-bottom: 50px;
margin-bottom: 50px;



}
form[action="/ENI_QCM/test/gestionTest"] td {
	border:1px solid transparent;
	margin-bottom:2px;
	color:black;
	cursor:pointer;
}
form[action="/ENI_QCM/test/gestionTest"] label{
	cursor:pointer;
}

.tableQuestion{
	border-collapse:separate;
	border-spacing:2px;	
}
.tableQuestion tr{
	margin-bottom:2px;
}

