<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ENI QCM</display-name>
  <resource-ref>
    <res-ref-name>jdbc/bdd</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>validerAcces</display-name>
    <servlet-name>validerAcces</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.validerAcces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validerAcces</servlet-name>
    <url-pattern>/login/validerAcces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deconnecter</display-name>
    <servlet-name>deconnecter</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.deconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconnecter</servlet-name>
    <url-pattern>/deconnecter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionTest</display-name>
    <servlet-name>gestionTest</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.gestionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionTest</servlet-name>
    <url-pattern>/test/gestionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listerQcm</display-name>
    <servlet-name>listerQcm</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.listerQcm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listerQcm</servlet-name>
    <url-pattern>/listerQcm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listerQuestion</display-name>
    <servlet-name>listerQuestion</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.listerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listerQuestion</servlet-name>
    <url-pattern>/listerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listerTheme</display-name>
    <servlet-name>listerTheme</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.listerTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listerTheme</servlet-name>
    <url-pattern>/listerTheme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>creationTest</display-name>
    <servlet-name>creationTest</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.creationTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creationTest</servlet-name>
    <url-pattern>/test/creationTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionSynthese</display-name>
    <servlet-name>gestionSynthese</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.gestionSynthese</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionSynthese</servlet-name>
    <url-pattern>/test/gestionSynthese</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculScore</display-name>
    <servlet-name>calculScore</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.calculScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculScore</servlet-name>
    <url-pattern>/test/calculScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>creerQcm</display-name>
    <servlet-name>creerQcm</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.creationQcm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creerQcm</servlet-name>
    <url-pattern>/formateur/creerQcm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>administrerQcm</display-name>
    <servlet-name>administrerQcm</servlet-name>
    <servlet-class>fr.eni.qcm.servlet.administrerQcm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>administrerQcm</servlet-name>
    <url-pattern>/administrerQcm</url-pattern>
  </servlet-mapping>
</web-app>